.container {
  height: 98.5vh;
  background-color: #70ce7c;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}

.undone {
  width: 400px;
  background-color: white;
  color: green;
  margin: 10px auto;
  padding: 5px;
  border-radius: 30px;
}

.undone:after {
  clear: both;
  display: block;
  content: "";
}

.done {
  font-size: 15px;
  width: 400px;
  margin: 0 auto;
}

.done:after {
  clear: both;
  display: block;
  content: "";
}

.button {
  float: right;
  position: relative;
}

.link-list {
  width: 300px;
  color: white;
  margin: 10px auto;
  padding: 5px;
}

.content {
  margin-left: 10px;
  float: left;
}

.date {
  color: green;
  font-size: 10px;
  float: left;
  position: absolute;
  bottom: 3px;
  left: -60px;
}
