body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

ul {
  list-style: none;
}

input {
  width: 200px;
  height: 30px;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  transition: all 1s ease;
  outline: 0;
}

button:hover {
  background-color: green;
  color: white;
  border-style: none;
}
